<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Для Яндекс Карт -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lesson8"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- ВАЖНО: Укажите ваш API ключ здесь -->
        <meta-data
            android:name="com.yandex.maps.api_key"
            android:value="3f789182-85fb-4813-92aa-9ac503cd39cd" />

        <!-- Версия MapKit -->
        <meta-data
            android:name="com.yandex.mapkit.version"
            android:value="4.5.0" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Lesson8">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>